.header-block .header {
  background: url("../../../img/header.jpg") top center no-repeat;
  background-size: cover;
  padding-top: 85px;
  padding-bottom: 420px; }
  .header-block .header-navigation {
    position: relative; }
    .header-block .header-navigation__logo {
      display: block;
      width: 130px;
      margin: 0 auto; }
    .header-block .header-navigation-hamburger {
      position: absolute;
      top: 30px;
      right: 35px; }
  .header-block .header__title {
    display: block;
    color: #fff;
    font-weight: 100;
    font-size: 73px;
    text-align: center;
    margin: 330px auto 0 auto; }

.mission-block .mission {
  padding-top: 230px;
  padding-bottom: 150px; }
  .mission-block .mission-number {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 240px;
    z-index: 999; }
    .mission-block .mission-number__num {
      font-weight: 900;
      font-size: 285px;
      color: #1f2443;
      letter-spacing: -15px;
      font-family: 'Yantramanav', sans-serif; }
    .mission-block .mission-number__title {
      position: absolute;
      color: #fff;
      transform: rotate(-90deg);
      width: 100%;
      text-align: center;
      left: 25px;
      font-weight: 300;
      top: 41%;
      font-size: 34px; }
  .mission-block .mission-desc {
    display: inline-block;
    vertical-align: middle;
    width: 1000px;
    position: relative; }
    .mission-block .mission-desc__img {
      -webkit-box-shadow: 0 79px 78px 15px rgba(0, 0, 0, 0.34);
      -moz-box-shadow: 0 79px 78px 15px rgba(0, 0, 0, 0.34);
      box-shadow: 0 79px 78px 15px rgba(0, 0, 0, 0.34); }
    .mission-block .mission-desc__text {
      color: #fff;
      font-weight: 100;
      width: 450px;
      line-height: 1.3;
      position: absolute;
      right: 25px;
      top: 38%;
      font-size: 18px; }

.projects-block {
  background: url("../../../img/projects.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 700px; }
  .projects-block .projects__letter {
    position: absolute;
    font-weight: 900;
    font-size: 1300px;
    color: rgba(25, 30, 63, 0.4);
    left: -80px;
    top: -180px; }
  .projects-block .projects-list {
    padding-top: 220px;
    margin-left: 165px;
    width: 885px;
    display: inline-block;
    vertical-align: text-top; }
    .projects-block .projects-list__item {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: 255px; }
    .projects-block .projects-list .__margin {
      display: inline-block;
      vertical-align: middle;
      width: 60px; }
    .projects-block .projects-list .__line {
      height: 110px; }
  .projects-block .projects-number {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 240px;
    z-index: 999;
    top: 150px; }
    .projects-block .projects-number__num {
      font-weight: 900;
      font-size: 285px;
      color: rgba(255, 255, 255, 0.03);
      letter-spacing: -15px;
      font-family: 'Yantramanav', sans-serif; }
    .projects-block .projects-number__title {
      position: absolute;
      color: #fff;
      transform: rotate(-90deg);
      width: 100%;
      text-align: center;
      left: 20px;
      font-weight: 300;
      top: 41%;
      font-size: 34px; }

.team-block {
  background: #191e3f; }
  .team-block .team {
    height: 500px; }

body {
  font-family: 'Raleway', sans-serif; }
  body .main-block {
    background: #191e3f; }
  body ._container {
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: relative; }

/*# sourceMappingURL=style.css.map */
