.mission {
  padding-top: 230px;
  &-number {
    display: inline-block;
    vertical-align: middle;
  }

  &-desc {
    display: inline-block;
    vertical-align: middle;
    width: 1000px;
    position: relative;
    &__img {

    }
    &__text {
      color: #fff;
      font-weight: 100;
      width: 450px;
      line-height: 1.3;
      position: absolute;
      right: 25px;
      top: 38%;
      font-size: 18px;
    }
  }
}