header.header
    .header-navigation._container
        img(src='img/logo.png' alt='logo').header-navigation__logo
        img(src='img/hamb.png' alt='open menu').header-navigation-hamburger
    h1.header__title._container we build innovative companies