.mission._container
    .mission-number
        span.mission-number__num 01
        span.mission-number__title mission
    .mission-desc
        img(src='img/mission.jpg' alt='mission').mission-desc__img
        .mission-desc__text
            | Is allowance instantly strangers applauded discourse so. Separate entrance welcomed sensible laughing why one moderate shy. We seeing piqued garden he. As in merry at forth least ye stood.
            br
            br
            | And cold sons yet with. Delivered middleton therefore me at. Attachment companions man way excellence how her pianoforte.