.projects-block
    .projects._container
        .projects__letter R
        .projects-list
            .projects-list__item
                img(src='img/prj1.png' alt='project')
            .__margin
            .projects-list__item
                img(src='img/prj2.png' alt='project')
            .__margin
            .projects-list__item
                img(src='img/prj3.png' alt='project')
            .__line
            .projects-list__item
                img(src='img/prj4.png' alt='project')
            .__margin
            .projects-list__item
                img(src='img/prj5.png' alt='project')
            .__margin
            .projects-list__item
                img(src='img/prj6.png' alt='project')
        .projects-number
            span.projects-number__num 02
            span.projects-number__title projects