.team-block
    .team._container
        .team-number
            span.team-number__num 03
            span.team-number__title team
        .team-ceo
            .team-ceo-desc
                .team-ceo-desc__line
                .team-ceo-desc__name George M. Bryson
                .team-ceo-desc__position Founder & Group CEO
                .team-ceo-desc__about
                    | Ladyship it daughter securing procured or am moreover mr. Put sir she exercise vicinity cheerful wondered. Continual say suspicion provision you neglected sir curiosity unwilling.
                    br
                    br
                    | Simplicity end themselves increasing led day sympathize yet. General windows effects not are drawing man garrets.
            img(src='img/person1.jpg' alt='CEO').team-ceo__photo
        .team-people
            .team-people-person
                img(src='img/person2.jpg' alt='person').team-people-person__photo
                .team-people-person-desc
                    .team-people-person-desc__line
                    .team-people-person-desc__name Kenneth G. Gilmore
                    .team-people-person-desc__position Business Manager
