@import "_var";
@import "big-screen";
@import "small-screen";
@import "medium-screen";
@import "components/header.scss";
@import "components/mission.scss";


body {
  font-family: 'Raleway', sans-serif;
  .main-block {
    background: $blue;
  }
  ._container {
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
