doctype
html
    head
        title Task
        include pug-includes/head.pug
    body
        .main-block
            include pug-includes/components/header.pug
            include pug-includes/components/mission.pug