doctype
html
    head
        title Task
        include pug-includes/head.pug
    body
        .main-block
            .main-container
                .header
                    .header__logo
                        img(src='img/logo.png' alt='logo')
                    .header-hamburger
                        img(src='img/hamb.png' alt='open menu')
